body {
    font-family: Arial, sans-serif;
    background: #f4f6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: #6c63ff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eef;
    padding: 10px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.high { border-left: 5px solid red; }
.medium { border-left: 5px solid orange; }
.low { border-left: 5px solid green; }

.delete {
    cursor: pointer;
    color: red;
}
